footer {
  display: flex;
  justify-content: space-between;

  padding-block: 24px;

  /* background-color: var(--skeleton-color); */

  align-items: center;

  line-height: 1.5;
}

footer a {
  padding: 4px;
}

footer > div {
  display: flex;
  gap: 16px;
}